head 
    title 태양누수 - #{meta.title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content=(meta.description ? meta.description : "누수, 누수탐지, 방수공사, 욕실공사, 상하수도배관정비 등 누수관련 솔루션 제공. 태양누수"))
    meta(name="keywords" content=(meta.keywords ? meta.keywords : "누수, 누수탐지, 방수공사, 욕실공사, 상하수도배관정비 등 솔루션 제공."))
    meta(property="og:type" content="website")
    meta(property="og:title" content=`태양누수`)
    meta(property="og:description" content=(meta.description ? meta.description : "누수, 누수탐지, 방수공사, 욕실공사, 상하수도배관정비 등 누수관련 솔루션 제공. 태양누수"))
    meta(property="og:url" content=(meta.url ? meta.url : "https://sunnusu.kr"))
    meta(property="og:site_name" content="태양누수")
    link(rel="stylesheet", href="/static/css/styles.css")
    link(rel="icon" href="/static/images/logo.svg")
    link(rel="canonical" href="https://sunnusu.kr")
    script(src="https://kit.fontawesome.com/8ce861c4c5.js" crossorigin="anonymous")