nav
    .container.nav
        li
            a(href="/") 태양누수
        li
        li 
            if user 
                a(href="/logout") 
                    span 로그아웃
            else
                i.fa-solid.fa-phone
                span 010-9799-2476
        