extends includes/layout
include mixins/imgBlock

block content
    .container 
        form(action="/auth" method="post")
            input(name="_csrf" value=csrfToken hidden)
            input(name="id" placeholder="id")
            input(type="password" name="pw" placeholder="pw")
            input(type="submit" value="로그인")