$bgColor: #f5f6f6;
$fontFamily: "Gowun Batang", serif;
$textColor: #2d3436;
$borderColor: #bdc3c7;

$blue: #2980b9;
$red: #eb4d4b;
$white: #ecf0f1;

$navHeight: 60px;

$mobile: 320px;
$tablet: 758px;
$desktop: 1024px;
